@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype-variations");
  font-display: fallback;
}

:root {
  --color-1: #353535;
  --color-2: #FFEBD5;
  --color-3: #F3E7D6;
  --grid-unit: 8px;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Nunito";
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

path.anim-color-1, rect.anim-color-1, .anim-color-1 path {
  fill: var(--color-1);
  stroke: var(--color-1);
}

path.anim-color-2, rect.anim-color-2, .anim-color-2 path {
  fill: var(--color-2);
  stroke: var(--color-2);
}

path.anim-color-3, rect.anim-color-3, .anim-color-3 path {
  fill: var(--color-3);
  stroke: var(--color-3);
}

