.wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--color-2);
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;
  padding: calc(var(--grid-unit) * 4) calc(var(--grid-unit) * 2);
}

.form-container {
  width: 100%;
  display: grid;
  grid-template-areas: "all";
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-area: all;
}

.form-anim {
  width: 100%;
  grid-area: all;
  pointer-events: none;
}

.form-anim--hidden {
  display: none;
}

.or {
  color: var(--color-1);
  padding: calc(var(--grid-unit) * 1);
}

.link {
  margin: calc(var(--grid-unit) * 1) 0;
  padding: calc(var(--grid-unit) * 1) 0;
  text-decoration: none;
  display: inline-block;
  background: var(--color-3);
  width: 100%;
  text-align: center;
  color: var(--color-1);
  cursor: pointer;
}

.link:hover {
  background: var(--color-1);
  color: var(--color-3);
}

.text-input {
  margin: calc(var(--grid-unit) * 1) 0;
  height: calc(var(--grid-unit) * 3);
  font-family: "Nunito";
  font-size: 1rem;
}

.submit {
  margin: calc(var(--grid-unit) * 2) 0;
  padding: calc(var(--grid-unit) * 1) 0;
  height: calc(var(--grid-unit) * 4);
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background: var(--color-1);
  color: var(--color-3);
}

.submit:hover {
  background: var(--color-3);
  color: var(--color-1);
}