

.wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--color-1);
  --size-multiplier: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.form-container {
  width: 100%;
  display: grid;
  grid-template-areas: "all";
  outline: 1px solid red;
  outline-offset: -1px;
}

.form-elements {
  width: 100%;
  height: 100%;
  grid-area: all;
  z-index: 1;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-anim {
  width: 100%;
  height: 100%;
  grid-area: all;
  pointer-events: none;
  line-height: 0;
}

.form-anim--hidden {
  display: none;
}

.or {
  color: var(--color-1);
  padding: calc(var(--grid-unit) * 1);
}

.links {
  margin: calc(var(--grid-unit) * 15 * var(--size-multiplier)) auto 0 auto;
  display: flex;
  gap: calc(var(--grid-unit) * 8 * var(--size-multiplier));
  justify-content: center;
}

.link {
  text-decoration: none;
  display: inline-block;
  background: var(--color-1);
  width: calc(var(--grid-unit) * 34 * var(--size-multiplier));
  height: calc(var(--grid-unit) * 6 * var(--size-multiplier));
  line-height: calc(var(--grid-unit) * 6 * var(--size-multiplier));
  font-size: calc(var(--grid-unit) * 3 * var(--size-multiplier));
  border-radius: calc(var(--grid-unit) * 1 * var(--size-multiplier));
  border: 1px solid var(--color-2);
  text-align: center;
  color: var(--color-2);
  cursor: pointer;
}

.link:hover {
  background: var(--color-3);
  color: var(--color-1);
}

input.text-input {
  font-family: "Nunito";
  background-color: transparent;
  border: none;
  color: var(--color-1);
}

.submit {
  margin: calc(var(--grid-unit) * 16 * var(--size-multiplier)) auto 0 auto;
  width: calc(var(--grid-unit) * 36 * var(--size-multiplier));
  height: calc(var(--grid-unit) * 10 * var(--size-multiplier));
  border-radius: calc(var(--grid-unit) * 1 * var(--size-multiplier));
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: var(--color-1);
  font-size: calc(var(--grid-unit) * 4 * var(--size-multiplier));
  background-color: transparent;
}

.submit:hover {
  background: var(--color-3);
  color: var(--color-1);
}

#email-input {
  margin: calc(var(--grid-unit) * 36 * var(--size-multiplier)) auto 0 auto;
  width: calc(var(--grid-unit) * 76 * var(--size-multiplier));
  height: calc(var(--grid-unit) * 8 * var(--size-multiplier));
  font-size: calc(var(--grid-unit) * 4 * var(--size-multiplier));
}

#password-input {
  margin: calc(var(--grid-unit) * 16 * var(--size-multiplier)) auto 0 auto;
  width: calc(var(--grid-unit) * 76 * var(--size-multiplier));
  height: calc(var(--grid-unit) * 8 * var(--size-multiplier));
  font-size: calc(var(--grid-unit) * 4 * var(--size-multiplier));
}

.separator {
  width: calc(var(--grid-unit) * 76 * var(--size-multiplier));
  height: calc(var(--grid-unit) * 3 * var(--size-multiplier));
  margin: calc(var(--grid-unit) * 16 * var(--size-multiplier)) auto 0 auto;
  display: flex;
  align-items: center;
}

.separator-line {
  flex: 1 1 auto;
  border-bottom: 1px solid var(--color-2);
}

.separator-text {
  flex: 0 0 auto;
  color: var(--color-2);
  margin: 0 calc(var(--grid-unit) * 2 * var(--size-multiplier));
}

.wrapper {
  --size-multiplier: 0.5;
}
.form-container {
  width: 1024px;
  height: 768px;
}

@media only screen and (min-width: 2048px) {
  .wrapper {
    --size-multiplier: 1;
  }
  .form-container {
    width: 2048px;
    height: 1536px;
  }
}