.lottie-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.lottie-poster {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity var(--animation-duration-unit) ease-out;
}

.lottie-poster--hidden {
  opacity: 0;
}

.lottie-animation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity var(--animation-duration-unit) ease-out;
}

.lottie-animation--hidden {
  opacity: 0;
}